
.bg-shapes
{
    background-color: #4FD1C5;
    background-image: linear-gradient(
        -45deg, transparent 75%,
        white 75%
    ),linear-gradient(
        45deg, transparent 75%,
        white 75%
    ),linear-gradient(
        -135deg, transparent 75%,
        white 75%
    ),linear-gradient(
        135deg, transparent 75%,
        white 75%
    );
    background-size: 1rem 1rem;
    
}

.blob
{
    background-image:url('/src/Resources/Vector1.svg');
    background-position: right;
    background-clip: border-box;
    background-size: 48rem ;
    background-repeat: no-repeat;
}